.posisi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.text{
    color: white;
    font-size: 25px
}

.posisiakhir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}